.col-sm-10
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

    .panel.panel-primary
      .panel-heading
        %h3.panel-title Edit Profile
      .panel-body
        = render 'shared/forms/errors', f: f

        .col-sm-6
          = f.input :first_name, autofocus: true
          = f.input :last_name
          = f.input :profile_name
        .col-sm-6
          = f.input :email
          = f.input :password, label: 'New Password'
          = f.input :password_confirmation

        .col-sm-6.col-sm-offset-3
          = f.input :current_password

          .form-group.text-center
            = f.button :submit, 'Update', class: 'btn btn-primary'
            = link_to 'Back', :back, class: 'btn btn-default'

  %h3 Cancel my account
  %p
    Unhappy?
    = link_to 'Cancel my account', registration_path(resource_name), confirm: 'Are you sure?', method: :delete
    \.
