<div class="span4">
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.error_notification %>

    <fieldset>
      <legend>Change your password</legend>
        <%= f.input :reset_password_token, :as => :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="inputs">
          <%= f.input :password, :label => "New password", :required => true %>
          <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
        </div>

        <div class="actions">
          <%= f.button :submit, "Change my password", class: "btn" %>
        </div>
    </fieldset>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>