<div class="span4">
	<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { method: :post, class: "well form-inline" }) do |f| %>
	  <%= f.error_notification %>

	  <fieldset>
			<legend>Forgot your password?</legend>
		  <div class="inputs">
		    <%= f.input :email, placeholder: "Email", label: false, :required => true %>
		  </div>
		</fieldset>

	  <div class="actions">
	    <%= f.button :submit, "Send me reset password instructions", class: "btn" %>
	  </div>
	  
	<% end %>

	<%= render :partial => "devise/shared/links" %>
</div>