<%= simple_form_for @tournament, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tournament_type %>
  <%= f.input :num_players %>

	<%= f.fields_for :match do |m| %>
		<% m.input :player1 %>
	<% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tournaments_path, :class => 'btn' %>
  </div>
<% end %>
