- model_class = Tournament
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:tournament_type)
      %th= model_class.human_attribute_name(:num_players)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @tournaments.each do |tournament|
      %tr
        %td= link_to tournament.id, tournament_path(tournament)
        %td= tournament.tournament_type
        %td= tournament.num_players
        %td= l tournament.created_at
        %td
          = link_to 'Edit', edit_tournament_path(tournament), class: 'btn btn-xs btn-primary'
          = link_to 'Delete', tournament_path(tournament), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
= link_to 'New', new_tournament_path, class: 'btn btn-primary'
