.col-sm-6
  .panel.panel-primary
    .panel-heading
      %h3.panel-title= "#{params[:action].titleize} Match"
    .panel-body
      = simple_form_for @match do |f|
        .col-sm-12
          /= f.input :tournament_id
          = f.input :status, collection: Match::STATUS_CHOICES

        .col-sm-6
          = player_input( f, :player1 )
          = f.input :score1

        .col-sm-6
          = player_input( f, :player2 )
          = f.input :score2

        .form-group.text-center
          = f.button :submit, class: 'btn btn-primary'
          = link_to 'Cancel', matches_path, class: 'btn btn-default'
