<%- model_class = Match -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:player1_id) %></th>
      <th><%= model_class.human_attribute_name(:score1) %></th>
      <th><%= model_class.human_attribute_name(:player2_id) %></th>
      <th><%= model_class.human_attribute_name(:score2) %></th>
      <th>Winner</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= Match::STATUS_CHOICES.invert[match.status] %></td>
        <td><span class="rank"><%= match.player1.rank %> </span><%= match.player1 %></td>
        <td><%= match.score1 %></td>
        <td><span class="rank"><%= match.player2.rank %> </span><%= match.player2 %></td>
        <td><%= match.score2 %></td>
        <td><%= match.winner %>
        <td><%= pretty_time(match.created_at) %></td>
        <td>
          <% if match.status == 'P' || edit? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_match_path(match), :class => 'btn btn-mini' %>
            <% if edit? %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        match_path(match),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @matches %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_match_path,
            :class => 'btn btn-primary' %>
