.page-header
  %h1
    Matches
    .pull-right
      = link_to 'New Match', new_match_path, class: 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th Status
      %th Player 1
      %th Player 1 Score
      %th Player 2
      %th Player 2 Score
      %th Winner
      %th Actions
  %tbody
    - @matches.each do |match|
      %tr
        %td= Match::STATUS_CHOICES.invert[match.status]
        %td
          %span.rank
            = match.player1.rank
          = match.player1
        %td= match.score1
        %td
          %span.rank
            = match.player2.rank
          = match.player2
        %td= match.score2
        %td
          = match.winner
        %td
          - if ['P', 'IP'].include? match.status
            = link_to 'Play', play_match_path(match), class: 'btn btn-info btn-xs'
          - if match.status == 'P' || edit?
            = link_to 'Edit', edit_match_path(match), class: 'btn btn-warning btn-xs'
            - if edit?
              = link_to 'Delete', match_path(match), method: :delete, confirm: 'Are you sure?', class: 'btn btn-xs btn-danger'
= will_paginate @matches