- model_class = Match
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:status)
      \:
  %dd= @match.long_status
  %dt
    %strong
      = model_class.human_attribute_name(:player1_id)
      \:
  %dd= @match.player1
  %dt
    %strong
      = model_class.human_attribute_name(:score1)
      \:
  %dd= @match.score1
  %dt
    %strong
      = model_class.human_attribute_name(:player2_id)
      \:
  %dd= @match.player2
  %dt
    %strong
      = model_class.human_attribute_name(:score2)
      \:
  %dd= @match.score2
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    matches_path, :class => 'btn'                            |
  - if ['P', 'IP'].include? @match.status
    = link_to t('.play', :defualt => t("helpers.links.play")), play_match_path(@match), :class => 'btn btn-info'
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_match_path(@match), :class => 'btn btn-warning'     |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    match_path(@match),                                                                                          |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
